<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Balance Detect
        <small>_</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> _</a></li>
        <li class="active">_</li>
    </ol>
</section>

<script type="text/javascript" src="js/app-cekstok.js"></script>

<!-- Main content -->
<section class="content">

    {% include "hot-single.html" %}

    <div id="hottable"></div>

    <script type="text/javascript">
        var _SELF = {};
        (function(_SELF) {
            //init
            _SELF.hot = null;

            var hot_options = {
                colHeaders: ['#', 'name', 'sisa', 'tgl deteksi', 'log'],
                colWidths: [1, 100, 100, 210, 300, 100,
                    100, 100, 100, 100, 100
                ],
                columns: [{}, {
                    renderer: htmlRenderer1,
                    nobreak: 1,
                }, {
                    renderer: htmlRenderer1,
                    nobreak: 1,
                }, {
                    renderer: htmlRenderer1,
                    nobreak: 1,
                }, {
                    renderer: htmlRenderer1,
                    nobreak: 1,
                }, ],
                beforeRemoveRow: function(index, amount) {
                    //todo
                    _SELF.hot.on_before_remove_row(index, amount);
                    return false;
                },
                afterCreateRow: function(index, amount) {},
                afterChange: function(change, source) {
                    _SELF.hot.on_after_change(change, source);
                }
            }

            _SELF.hot = new HotSingle("hottable", hot_options, "BalanceDetect");

            _SELF.hot.exportData = function() {
                //TODO
                var a = [
                    ['#', 'No Induk', 'Nama', 'Username', 'Alamat', 'Telp']
                ]

                var d = _SELF.hot.hot.getData();

                for (var i = 0; i < d.length; i++) {
                    var o = d[i];
                    a.push([(i + 1), o[3], o[4], o[5], o[7], o[8]]);
                }
                export_excel(a);
            }
            _SELF.hot.build(
                function(hot_options) {
                    hot_options.minSpareRows = 1;
                },
                function(hot) {
                    hot.updateSettings({
                        cells: function(row, col, prop) {
                            var hot = self.hot;
                            var cellProperties = {};
                            return cellProperties;
                        }
                    })

                }
            );
            _SELF.hot.loadData(
                function(res) {
                    var data = [],
                        row;
                    // res.data1 = hotDataSortBy(res.data1, "localCreated");
                    // res.data2 = hotDataSortBy(res.data2, "localCreated");

                    // var dataAll = [];
                    // for (var i = 0; i < res.data1.length; i++) {
                    //     dataAll.push({
                    //         "created": res.data1[i].localCreated,
                    //         "data1": res.data1[i].from_ + ":" + res.data1[i].cnt
                    //     });

                    // }

                    // for (var i = 0; i < res.data2.length; i++) {
                    //     dataAll.push({
                    //         "created": res.data2[i].localCreated,
                    //         "data1": res.data2[i].target + ":" + res.data2[i].cnt
                    //     });

                    // }

                    // res.data3 = hotDataSortBy(res.data3, "name");

                    // var dataResult = [];
                    // for (var i = 0; i < res.data3.length; i++) {
                    //     var keyw = res.data3[i].keyByComa;
                    //     var splitKw = keyw.split(",");
                    //     var like_ = "";
                    //     for (var j = 0; j < splitKw.length; j++) {
                    //         if (j == splitKw.length - 1) {
                    //             like_ = like_ + "lcase(data1) like '%" + splitKw[j] + "%' ";
                    //         } else {
                    //             like_ = like_ + "lcase(data1) like '%" + splitKw[j] + "%' and ";
                    //         }
                    //     }
                    //     var a1 = alasql("select * from ? where " + like_ + " order by created desc limit 1", [dataAll]);
                    //     var last_ = "-";
                    //     var created_ = "-";
                    //     var data1_ = "-";
                    //     if (a1.length > 0) {
                    //         var idx1 = a1[0].data1.indexOf(res.data3[i].startFind);
                    //         var idx2 = a1[0].data1.lastIndexOf(res.data3[i].endFind);
                    //         last_ = a1[0].data1.substring(idx1 + res.data3[i].startFind.length, idx2);
                    //         created_ = a1[0].created;
                    //         data1_ = a1[0].data1;
                    //     }
                    //     dataResult.push({
                    //         "id": i,
                    //         "created": created_,
                    //         "last_": last_,
                    //         "data1": data1_,
                    //         "name": res.data3[i].name
                    //     })
                    // }


                    // dataResult = hotDataSortBy(dataResult, "name asc, created asc");


                    // //remove dup by last date
                    // for (var k = 0; k < dataResult.length; k++) {
                    //     for (var i = 0; i < dataResult.length; i++) {
                    //         if (k != i && dataResult[k].name == dataResult[i].name) {
                    //             if (dataResult[k].created > dataResult[i].created) {
                    //                 dataResult.splice(i, 1);
                    //             } else {
                    //                 dataResult.splice(k, 1);
                    //             }
                    //         }
                    //     }
                    // }


                    var dataResult = parseDetectionStock(res);
                    // debugger;
                    for (var i = 0, ilen = dataResult.length; i < ilen; i++) {
                        row = [];
                        row[0] = parseInt(dataResult[i].id + 1);
                        row[1] = dataResult[i].name;
                        row[2] = dataResult[i].last_;
                        row[3] = UTCtoJakarta(dataResult[i].created);
                        row[4] = dataResult[i].data1;

                        data[i] = row;
                    }


                    return data;

                },
                function(textStatus, errorThrown) {
                    flashMessage(textStatus + ": " + errorThrown);
                },
                function() {
                    $("#hottable-btn-hot-goto-last").click();
                },
                null
            );

        })(_SELF);

        function layout_start() {
            var clrBtn = $("#hottable-clear-search")[0];
            if (!clrBtn) {
                return;
            }
            var bt1 = clrBtn.getBoundingClientRect().bottom;
            var top1 = $(window).innerHeight();
            var vb1 = top1 - bt1 - 40;
            //            $("#hottable").css('height', vb1 + 50);
            $("#hottable-htable").css('height', vb1);
            if (_SELF.hot) _SELF.hot.hot.render();

            $(window).resize(function() {
                layout_start();
            });
        }
    </script>
    <!-- Your Page Content Here -->

</section>
<!-- /.content -->