<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Export Import
        <small>_</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> _</a></li>
        <li class="active">_</li>
    </ol>
</section>

<!-- Main content -->

<style type="text/css">
    /* DivTable.com */
    
    .divTable {
        display: table;
        width: 100%;
    }
    
    .divTableRow {
        display: table-row;
    }
    
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }
    
    .divTableCell,
    .divTableHead {
        border: 0px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }
    
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }
    
    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }
    
    .divTableBody {
        display: table-row-group;
    }
</style>

<section class="content">

    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell" style="width: 100px">Sms Inbox</div>
                <div class="divTableCell"><button onclick="exportSms()">Export JSON</button></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">GTalk Chat</div>
                <div class="divTableCell">Export JSON</div>
            </div>
        </div>
    </div>

    <script>
        function exportSms(){
            window.open("/api/SmsIn/load","_blank");
        }
    </script>

    <!-- DivTable.com -->

</section>
<!-- /.content -->