@media (max-width: 300px) {
    html { font-size: 50%; }
}

@media (min-width: 500px) {
    html { font-size: 70%; }
}

@media (min-width: 700px) {
    html { font-size: 90%; }
}

@media (min-width: 1200px) {
    html { font-size: 100%; }
}
